{% extends 'reviews/base.html' %}

{% block content %}
      <span class="text-info">Title: </span> <span>{{ book.title }}</span>
      <br>
      <span class="text-info">Publisher: </span><span>{{ book.publisher }}</span>
      <br>
      <span class="text-info">Publication Date: </span><span>{{ book.publication_date }}</span>
      <br>
      <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">5</span>
      <br>
      <a href="/book/{{ book.id }}/">Reviews</a></li>
{% endblock %}
