{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{% static "main.css" %}" rel="stylesheet">
</head>
<body>
    {% block logo %}{% endblock %}
    <h2>{% block heading %}{% endblock %}</h2>
    {% block content %}
    {% endblock %}

  <form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>

</body>
</html>
