{% extends 'base.html' %}
{% load review_tags %}
{% block content %}

{% for item in book_list %}
    <ul class="list-group">
      <li class="list-group-item">
          <span class="text-info">Title: </span> <span>{{ item.book.title }}</span>
          <br>
          <span class="text-info">Publisher: </span><span>{{ item.book.publisher }}</span>
          <br>
          <span class="text-info">Publication Date: </span><span>{{ item.book.publication_date }}</span>
          <br>
          <span class="text-info">Rating: </span><span class="badge badge-primary badge-pill">{{ item.book_rating }}</span>
          <br>
          <span class="text-info">Number of reviews: </span><span>{{ item.number_of_reviews|review_count_filter }}</span>
          <br>
          {% if not item.book_rating %}
          <span class="text-secondary">Provide a rating and write the first review for this book.</span>
          <br>
          {% endif %}
          <a class="btn btn-primary btn-sm active" role="button" href="{% url 'book_detail' item.book.pk %}">Reviews</a></li>
      </li>
      {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}